<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.component.css" />
    <title>Kelime Anlam ve Telaffuz | Mplus</title>
  </head>
  <body>
    <div class="flex-container">
      <div class="flex-item">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Telaffuz Edilecek Kelimeyi Giriniz..."
            aria-describedby="button-addon2"
          />
          <button
            class="fa-brands fa-searchengin btn btn-outline-secondary"
            type="button"
            id="button-addon2"
          ></button>
        </div>
      </div>
    </div>
  </body>
</html>
